#include "/home/amenji/git/dotfiles/urxvt/themes/Batman"
! ------------------------------------------------------------------------------
! URXVT
! ------------------------------------------------------------------------------
URxvt.scrollBar:        false
URxvt.font:             xft:Dina:size=9, xft:xos4 Terminess Powerline
URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.url-launcher:     /usr/bin/firefox
URxvt.internalBorder:   4
URxvt.matcher.rend.0:   Uline Bold fg5
URxvt.matcher.button:   1
